* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}
h1 {
  text-align: center;
}
/* menu styles */
.logo {
  color: greenyellow;
  text-transform: uppercase;
}
nav.main-nav {
  position: relative;
  background-color: black;
  width: 100%;
  z-index: 1000;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  background-color: black;
  position: relative;
  z-index: 1000;
}
.menu li a {
  background-color: black;
  color: greenyellow;
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  /* -webkit-transition:0.5s;
  transition:0.5s; */
}
.menu li a:hover {
  color: blue;
}
.sub-menu {
  visibility: hidden;
  position: absolute;
  background-color:#000000;
  width: 100%;
  z-index: -1;
  left: 0;
  transform: translateY(-100%);
  transition: all 0.8s ease-in-out 0s, visibility 0s linear 0.8s;
}
.sub-menu img {
  width: 70px;
  margin-right: 1rem;
}
.sub-menu ul li a {
  display: flex;
}
.sub-menu li a p {
  text-transform: none;
}
.sub-menu li a h4 {
  color: lightgray;
}
.menu li:hover .sub-menu {
  visibility: visible;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
.toggle {
  display: none;
  color: greenyellow;
  font-size: 2.5rem;
  cursor: pointer;
}
.toggle:hover {
  color: blue;
}
#mobile {
  display: none;
}
.mobile-menu {
  visibility: hidden;
  position: absolute;
  right: 0;
  transform: translateY(-100%);
  transition: all 0.8s ease-in-out 0s, visibility 0s linear 0.8s;
}
.mobile-menu ul {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.mobile-menu ul li {
  text-align: left;
}
.mobile-menu ul li a {
  color: greenyellow;
  display: inline-block;
  padding: .6rem 2rem;
  text-transform: uppercase;
}
.mobile-menu ul a:hover {
  color: blue;
}
.mobile-sub-menu {
  display: none;
  padding-left: 2rem;
}
.mobile-menu ul li:hover .mobile-sub-menu {
  display: block;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .toggle {
    display: block;
  }
  #mobile:checked + .mobile-menu {
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
}
